* {
    /*For build only, can use checkbox in Chrome:*/
    /*border: 1px solid black;*/
    overflow: visible;

    transition: all 0.5s ease-in-out;

}

html,
body {
    background: linear-gradient(
            to top right,
            #4b9cd3, #c2c2c2) no-repeat fixed; /*background: url("../img/IMG_4979.jpg") center fixed no-repeat;*/
    background-size: cover;
    height: 150vh;
    margin: auto;
    /*transition: all 0.5s;*/
}

/*/////////////////-400px/////////////*/

.bottom {
    border-radius: 15px !important;
    display: inline-block;
    height: 30vh;
    margin: 10vh auto 2% auto;
}

.blue {
    color: #4B9CD3FF;
    opacity: .4;
}

/*.logo {*/
/*!*z-index: 1;*!*/
/*!*width: 48vw;*!*/
/*background-color: transparent;*/
/*border: 2px inset transparent;*/
/*border-radius: 15px; !*don't change*!*/
/*box-sizing: border-box;*/
/*display: inline-block;*/
/*height: 20vh;*/
/*padding: 5px;*/
/*position: absolute;*/
/*text-decoration: none;*/
/*transition: all 0.5s ease-in-out;*/
/*}*/

/*.logo:hover {*/
/*background-color: transparent;*/
/*border: outset #9e1b32 2px;*/
/*border-radius: 7px;*/
/*opacity: .7;*/
/*transform: scale(1.1);*/
/*transition: all 0.5s ease-in-out;*/
/*z-index: 4;*/
/*}*/

.menuLink {
    /*position: absolute;*/
    /*right: 15%;*/
}

.middle {
    display: inline-block;
    margin-top: 25vh;
    text-align: center;
    width: 100%;
}

.navLogo {
    background-color: transparent;
    border: 2px inset transparent;
    border-radius: 15px; /*don't change*/
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    /*right: 0;*/
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.navLogo:hover {
    background-color: transparent;
    border: outset #9e1b32 2px;
    border-radius: 7px;
    opacity: .7;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    z-index: 4;
}

.oneA {
    /*position: relative;*/
    /*position: absolute;*/
    margin-right: 15%;
}

.red {
    color: #901400
}

.top {
    display: inline-block;
    height: 20vh;
    left: 5%;
    margin: 0 auto;
    opacity: .7;
    position: fixed;
    right: 5%;
    z-index: 1;
}

.title {
    /*margin-left: 17.3333333333%;*/
}

.twoA {
    /*margin-left: 30%;*/
}

.idx {

}



