<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>ovijive Protocol</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="java, JEE, security, html css, spring, boot, security, responsive, aws, sql, mvc, maven, thymeleaf, skeleton, mobile, restful, tomcat, javascript, web, developer, programmer, UNC, Asheville, candidate, portfolio, available, ethereum, blockchain, node, infura, ether, gas"/>
    <meta name="description" content="ovijive"/>

    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="../static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}" href="../static/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/css/oviStyle.css}" href="../static/css/oviStyle.css"/>

    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/apple-touch-icon.png}"
          href="../static/img/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon-32x32.png}"
          href="../static/img/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon-16x16.png}"
          href="../static/img/favicon-16x16.png"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>

    <script type="text/javascript" th:src="@{/scripts/viewport.js}" src="/static/scripts/viewport.js"></script>
    <!--src="http://raw.githubusercontent.com/ethereum/web3.js/0.16.0/dist/web3.min.js"-->
    <script th:src="@{/scripts/web3.js}" src="/./scripts/web3.js"></script>
    <!--<script>web3 = new Web3(new Web3.providers.HttpProvider("https://testnet.infura.io/"));</script>-->
</head>


<body>
<div class="container main">
    <div class="row top primary">
        <div class="four columns">
            <a th:href="index.html" href="index.html" rel="#home">
                <img th:src="@{/img/EthDarkSideLogo.svg}" src="../static/img/EthDarkSideLogo.svg" class="navLogo"
                     alt="ovijive logo"/>
            </a>
        </div><!--four columns-->
        <div class="eight columns">
            <div class="row oneA menubar">
                <a th:href="@{/about.html}" href="about.html" class="menu three columns offset-by-one" alt="About"
                   name="about">About</a>
                <a th:href="@{/contact.html}" href="contact.html" class="menu three columns" alt="Contact"
                   name="blog">Contact</a>
                <!--<a th:href="@{/psarchives.html}" href="psarchives.html" class="menu" alt="Archives" name="archives">Archives</a>-->
                <!--<a th:href="@{/pscontact.html}" href="pscontact.html" class="menu" alt="Contact" name="contact">Contact</a>-->
                <!--<div class="row oneB">-->
                <!--<input type="text" class="searchfield u-pull-right" style="border-radius: 15px" alt="Search"-->
                <!--name="search"-->
                <!--placeholder="'Search'"/>-->

                <!--</div>&lt;!&ndash;row oneB&ndash;&gt;-->
            </div><!--row oneA menubar-->

        </div><!--eight columns-->
    </div><!--row top-->

    <div class="row middle primary">
        <div class="12 columns" style="text-align: center">
            <!--customize:-->
            Just a couple of Taus doing what feels good...
        </div>
    </div>

    <!--Nav to main Index:-->
    <!--<div class="row bottom nav primary">-->
    <!--<a th:href="index" href="index.html" rel="#home">-->
    <!--<img src="../static/public_adm_nasa_logo.png.png" class="navlogo"-->
    <!--alt="ADM logo"/></a>-->
</div><!--container main-->
</body>

</html>