<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>ovijive Protocol</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="java, JEE, security, html css, spring, boot, security, responsive, aws, sql, mvc, maven, thymeleaf, skeleton, mobile, restful, tomcat, javascript, web, developer, programmer, UNC, Asheville, candidate, portfolio, available, ethereum, blockchain, node, infura, ether, gas"/>
    <meta name="description" content="ovijive"/>

    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="../static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}" href="../static/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/css/oviStyle.css}" href="../static/css/oviStyle.css"/>
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/apple-icon-57x57.png}"
          href="/static/img/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/apple-icon-60x60.png}"
          href="/static/img/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/apple-icon-72x72.png}"
          href="/static/img/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon-76x76.png}"
          href="/static/img/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/apple-icon-114x114.png}"
          href="/static/img/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/apple-icon-120x120.png}"
          href="/static/img/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/apple-icon-144x144.png}"
          href="/static/img/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/apple-icon-152x152.png}"
          href="/static/img/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/apple-icon-152x152.png}"
          href="/static/img/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/img/android-icon-192x192.png}"
          href="/static/img/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon-32x32.png}"
          href="/static/img/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/img/favicon-96x96.png}"
          href="/static/img/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon-16x16.png}"
          href="/static/img/favicon-16x16.png"/>
    <link rel="manifest" href="/static/img/manifest.json"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" href="/static/img/favicon.ico"/>
    <link rel="icon" type="image/png" th:href="@{/img/ms-icon-144x144.png}" href="/static/img/favicon.ico"/>

    <!--src="http://raw.githubusercontent.com/ethereum/web3.js/0.16.0/dist/web3.min.js"-->

    <!--<script th:src="@{/scripts/web3.js}" src="/./scripts/web3.js"></script>-->
    <!--<script>web3 = new Web3(new Web3.providers.HttpProvider("https://ropsten.infura.io/KH92iLaeW68rq2EQBiSC"));</script>-->


    <!--<script>web3 = new Web3(new Web3.providers.HttpProvider("https://testnet.infura.io/"));</script>-->
    <!--<script>web3 = new Web3(new Web3.providers.HttpProvider("https://mainnet.infura.io/MEDIUMTUTORIAL/"));</script>-->
</head>


<body>
<div class="container main">
    <div class="row top primary">
        <div class="four columns">
            <a th:href="index.html" href="index.html" rel="#home">
                <img th:src="@{/img/EthDarkSideLogo.svg}" src="../static/img/EthDarkSideLogo.svg"
                     class="navLogo" alt="ovijive logo"/>
            </a>
        </div><!--four columns-->
        <div class="four columns">
            <h4 class="title" th:text="'ovijive'">ovijive
            </h4>
            <h6 class="title" th:text="'...why not?'">...why not?</h6>
        </div>
        <div class="four columns">
            <a th:href="@{/about.html}" href="about.html" class="menuLink six columns" alt="About"
               name="about">About</a>
            <a th:href="@{/contact.html}" href="contact.html" class="menuLink six columns"
               alt="Contact"
               name="blog">Contact</a>
        </div><!--four columns-->
    </div><!--row top-->


    <div class="row middle primary">

        <!--EthU$d reg:-->
        <div class="row red">
            <span class="four columns">ETH-U$D highest volume exchange:</span>
            <span class="eight columns" th:text="${hiVolExchEthUsd}"></span>
        </div><!--row1.2-->

        <div class="row red">
            <span class="four columns">ETH-U$D ask price:</span>
            <span class="eight columns" th:text="${askEthUsd}"></span>
        </div><!--row1.2-->

        <div class="row red">
            <span class="four columns">ETH-U$D bid price:</span>
            <span class="eight columns" th:text="${bidEthUsd}"></span>
        </div><!--row1.2-->

        <br/>

        <!--//EthBtc reg:-->
        <div class="row red">
            <span class="four columns">ETH-BTC highest volume exchange:</span>
            <span class="eight columns" th:text="${hiVolExchEthBtc}"></span>
        </div><!--row1.2-->

        <div class="row red">
            <span class="four columns">ETH-BTC ask price:</span>
            <span class="eight columns" th:text="${askEthBtc}"></span>
        </div><!--row1.2-->

        <div class="row red">
            <span class="four columns">ETH-BTC bid price:</span>
            <span class="eight columns" th:text="${bidEthBtc}"></span>
        </div><!--row1.2-->

        <br/>

        <!--//EthU$D full:-->
        <div class="row red">
            <div class="four columns">ETH-U$D all exchanges:</div>
            <div class="eight columns offset-by-four" style="color: black" th:each="tickers : ${tickersFullEthUsd}"
                 th:text="${tickers}"></div>
        </div><!--row1.2-->

        <!--//EthBtc full:-->
        <div class="row red">
            <span class="four columns">ETH-BTC all exchanges:</span>
            <br/>
            <span class="eight columns offset-by-four" style="color: black" th:each="tickers : ${tickersFullEthBtc}"
                  th:text="${tickers}"></span>
            <!--<span class="eight columns" th:text="${tickersFullEthBtc}"></span>-->
        </div><!--row1.2-->

        <br/>

        <div class="row red">
            <span class="four columns">Eth Wallet #1:</span>
            <span class="eight columns" th:text="${wallet1}"></span>
        </div><!--row2.1-->

        <div class="row red">
            <span class="four columns">Ethereum Wallet #2:</span>
            <span class="eight columns" th:text="${wallet2}"></span>
        </div><!--row2.2-->
        <br/>
        <div class="row blue">
            <span class="four columns">web3 clientVersion (A-Sync):</span>
            <span class="eight columns" th:text="${webVersion}"></span>
        </div><!--row3-->


        <div class="row blue">
            <span class="four columns">Web3 clientVersion (Sync, if available):</span>
            <span class="eight columns" th:text="${webVersionSync}">N/A</span>
        </div><!--row4-->

        <div class="row blue ">
            <span class="four columns">Header response:</span>
            <span class="eight columns" th:text="${headers}"></span>
        </div><!--row5-->

        <div class="row blue">
            <span class="four columns">Server response status (200 = Good):</span>
            <span class="eight columns" th:text="${status}">
            </span>
        </div><!--row6-->

    </div><!--row middle primary-->

    <!--Nav to main Index:-->
    <!--<div class="row bottom nav primary">-->
    <!--<a th:href="index" href="index.html" rel="#home">-->
    <!--<img src="../static/public_adm_nasa_logo.png.png" class="navlogo"-->
    <!--alt="ADM logo"/></a>-->

</div><!--container main-->
</body>
</html>